<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Template</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: #252525;
        color: #f4f4f4;
      }

      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Hi [USERNAME]]! Welcome to [WEBSITE_NAME]</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      perspiciatis amet natus est, doloremque assumenda deserunt recusandae
      labore tempora odit tenetur voluptatibus explicabo impedit libero at
      quisquam non, optio corrupti!
    </p>
  </body>
</html>
